*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  line-height: 1.4;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 14px;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
}
